@import '../../../../styles/_variables';

:host {
  .table {
    th {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .form-group .btn-block.btn-primary {
    max-width: 150px;
    margin-left: auto;
  }
  my-date-picker {
    display: inline-block;
    vertical-align: middle;
    &:first-of-type {
      margin-right: 5px;
    }
    width: 33%;

    /deep/ .mydp {
      width: 100% !important;
    }
  }

  #analysis-id {
    width: calc(100% - 155px);
  }

  #partner-number {
    width: calc(100% - 100px);
  }

  #box-number {
    width: calc(100% - 85px);
  }

  .form-group {
    width: 21%;
    &:first-of-type {
      width: 37%;
    }

    label {
      margin-right: 10px;
    }
  }
}

.form-group {
  margin-bottom: 0;
  .control-label {
    max-width: 265px;
  }
}

th {
  .fa {
    margin-left: 5px;
  }

  &.sortable span {
    cursor: pointer;
  }
}

td {
  &.text-primary {
    color: $navy;
  }
  .fa {
    font-size: 18px;
  }

  &.text-right {
    .fa {
      cursor: pointer;
      margin-left: 10px;
    }
  }
}

.btn-circle.btn-sm {
  width: 20px;
  height: 20px;
  padding: 2px;
  font-size: 10px;
}
