div.wrapper.wrapper-content.ecommerce
  div.ibox-content.m-b-sm.border-bottom
    div.form-inline
      div.form-group
        label(for="arrival-date") Érkezési dátum
        my-date-picker#arrival-date.mydatepicker([options]="startDatePickerOptions", (dateChanged)="pickerStartDateChange($event)", [selDate]="startDateModel.date", [locale]="'hu'")
        my-date-picker.mydatepicker([options]="endDatePickerOptions", (dateChanged)="pickerEndDateChange($event)", [selDate]="endDateModel.date", [locale]="'hu'")
      div.form-group
        label(for="partner-number") Tenyészet a.
        input#partner-number.form-control(type="text", name="partner-number", placeholder="00-000-00", [formControl]="partnerNumberSearchControl")
      div.form-group
        label(for="box-number") Dobozszám
        input#box-number.form-control(type="text", name="box-number", placeholder="M0000", [formControl]="boxNumberSearchControl")
      div.form-group
        a.btn.btn-block.btn-w-m.btn-primary([routerLink]="'/box/add'") Új doboz
  div.row
    div.col-lg-12
      div.ibox
        div.ibox-content
          table.table.table-striped
            thead
              tr
                th.text-center Kiküldési dátum
                th.text-center Tenyészet azonosító
                th.text-center Tenyészet neve
                th.text-center Dobozszám
                th.text-center Beérkezési dátum
                th.text-center Cső egyenleg
                th.text-center Akku egyenleg
            tbody
              tr(*ngFor="let box of response.data")
                td.text-center {{ box.formattedOut }}
                td.text-center {{ box.partner_number }}
                td.text-center {{ box.partner_name }}
                td.text-center {{ box.box_number }}
                td.text-center {{ box.formattedIn }}
                td.text-center {{ box.pipe_diff }}
                td.text-center {{ box.battery_diff }}
                td.text-right
                  i.fa.fa-eye([routerLink]="['../', box.id]")
                  i.fa.fa-pencil([routerLink]="'../' + box.id + '/edit'")
                  i.fa.fa-trash((click)="openDeleteModal(box)")
            tfoot(*ngIf="response.meta.total_pages > 1")
              tr
                td(colspan="6")
                  app-pagination([elements]="response", [(page)]="page", (pageChange)="getList()")
