div.middle-box.text-center.loginscreen
  div
    div.logo-container
      img.logo(src="assets/images/logo.png")
    h4 Állattenyésztési Teljesítményvizsgáló Kft.
    form.m-t(role="form", #loginForm="ngForm", (ngSubmit)="onSubmit()", [ngClass]="{'has-error': (loginForm.submitted && loginError)}")
      div.form-group
        input#email.form-control(type="email", placeholder="Felhasználónév", name="email", [(ngModel)]="credentials.email", #email="ngModel", required, autofocus, pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+.*$")
      div.form-group
        input#password.form-control(type="password", placeholder="Jelszó", name="password", [(ngModel)]="credentials.password", #password="ngModel", required)
      div.form-group
        input#password_confirm.form-control(type="password", placeholder="Jelszó", name="password_confirm", [(ngModel)]="credentials.password_confirm", #password_confirm="ngModel", required)
      p.help-block(*ngIf="loginForm.submitted && loginError")
        span A jelszó változtatás sikertelen! Próbálja újra vagy kérjen új linket a változtatáshoz!
      p.text-info(*ngIf="loginForm.submitted && loginSuccess")
        span Sikeresen megváltoztatta jelszavát!
      button.btn.btn-primary.block.full-width.m-b(type="submit", [disabled]="loginForm.invalid") Jelszó megváltoztatása
      a([routerLink]="'/login'") Bejelentkezés
