nav.navbar-default.navbar-static-side(role="navigation")
  div.sidebar-collapse
    ul#side-menu.nav.metismenu
      li.nav-header
        div.dropdown.profile-element
          a.dropdown-toggle(data-toggle="dropdown", aria-expanded="true")
            span.block.m-t-xs
              strong.font-bold([routerLink]="'/profile'") {{ user?.name }}
          ul.dropdown-menu.m-t-xs.animated.fadeInRight
            li
              a Logout
      li([ngClass]="{active: activeRoute('/', true)}")
        a([routerLink]="'/'")
          i.fa.fa-th-large
          span.nav-label Főoldal
      li([ngClass]="{active: activeRoute('/hotel', false)}")
        a([routerLink]="'/hotel'")
          i.fa.fa-building
          span.nav-label Hotelek
      li([ngClass]="{active: activeRoute('/reservation', false)}")
        a([routerLink]="'/reservation'")
          i.fa.fa-plus-square
          span.nav-label Foglalás
