div.wrapper.wrapper-content.ecommerce
  div.ibox-content.m-b-sm.border-bottom
    div.row
      div.col-xs-2.col-xs-offset-10
        a.btn.btn-block.btn-w-m.btn-primary([routerLink]="'/reservation/add'") Új foglalás
    hr
    div.row
      div.col-lg-12
        table.table.table-striped
          thead
            tr
              th.text-center Szobaszám
              th.text-center Személyek száma
              th.text-center Kezdés dátum
              th.text-center Befejezés dátum
          tbody
            tr(*ngFor="let reservation of response")
              td.text-center {{ reservation.roomId }}
              td.text-center {{ reservation.numberOfPeople }}
              td.text-center {{ reservation.FormattedCheckIn }}
              td.text-center {{ reservation.FormattedCheckOut }}
              td.text-right
                i.fa.fa-eye([routerLink]="['../', reservation.id]")
                i.fa.fa-pencil([routerLink]="'../' + reservation.id + '/edit'")
                i.fa.fa-trash((click)="openDeleteModal(reservation)")
