h2 {
  .fa {
    cursor: pointer;
    margin-left: 10px;
  }
}

.text-primary {
  color: #1ab394;
}

h3 .fa {
  margin-left: 10px;
}

h4 {
  display: inline-block;

  .fa {
    margin-left: 10px;
  }
}
