div.panel-body
  form.form-horizontal(role="form", #detailsForm="ngForm", (ngSubmit)="onSubmit()")
    div.form-group
      div([ngClass]="{'has-error': !reservation?.hotel}")
        label.col-xs-2.control-label(for="hotelSelect") Hotel:
        div.col-xs-3
          select.form-control(name="hotelSelect", [(ngModel)]= "reservation.hotel", #hotelSelect="ngModel", (ngModelChange)="getRooms($event)")
            option#hotelSelect([ngValue]="item", *ngFor="let item of hotels") {{ item.name }} - {{ item.numberOfStars }} csillag
      div([ngClass]="{'has-error': !reservation?.room}")
        label.col-xs-2.control-label(for="roomSelect") Szoba:
        div.col-xs-3
          select.form-control(name="roomSelect", [(ngModel)]= "reservation.room", #roomSelect="ngModel")
            option#roomSelect([ngValue]="item", *ngFor="let item of rooms") {{ item.id }} - {{ item.price }}Ft/éj/fő
    div.form-group
      div([ngClass]="{'has-error': !reservation?.checkIn}")
        label.col-xs-2.control-label Kezdete:
        div.col-xs-3
          my-date-picker.mydatepicker([options]="startDatePickerOptions", (dateChanged)="pickerStartDateChange($event)", [selDate]="startDateModel.date",  [locale]="'hu'")
      div([ngClass]="{'has-error': !reservation?.checkOut}")
        label.col-xs-2.control-label Vége:
        div.col-xs-3
          my-date-picker.mydatepicker([options]="endDatePickerOptions", (dateChanged)="pickerEndDateChange($event)", [selDate]="endDateModel.date",  [locale]="'hu'")
    div.form-group
      div([ngClass]="{'has-error': !reservation?.numberOfPeople}")
        label.col-xs-2.control-label(for="numberOfPeople") Személyek száma:
        div.col-xs-3
          input#numberOfPeople.form-control(type="number", name="numberOfPeople", [(ngModel)]="reservation.numberOfPeople", #numberOfPeople="ngModel", required)
    div.col-lg-12.text-right(*ngIf="isNew")
      button.btn.btn-primary(type="submit", [disabled]="detailsForm.invalid") Mentés
    div.col-lg-12.text-right(*ngIf="!isNew")
      button.btn(type="button", [routerLink]="'/reservation'") Mégsem
      button.btn.btn-primary(type="submit", [disabled]="detailsForm.invalid") Módosít
