div.wrapper.wrapper-content.ecommerce
  div.ibox-content.m-b-sm.border-bottom
    div.row
      div.col-xs-2.col-xs-offset-10
        a.btn.btn-block.btn-w-m.btn-primary([routerLink]="'/hotel/add'") Új hotel
  div.row
    div.col-lg-12
      div.ibox
        div.ibox-content
          table.table.table-striped
            thead
              tr
                th.text-center Név
                th.text-center Cím
                th.text-center Csillagok száma
            tbody
              tr(*ngFor="let hotel of response")
                td.text-center {{ hotel.name }}
                td.text-center {{ hotel.address }}
                td.text-center
                  i.fa.fa-star.hotel-star(*ngFor="let item of fillArray(hotel.numberOfStars)")
                td.text-right
                  i.fa.fa-eye([routerLink]="['../', hotel.id]")
                  i.fa.fa-pencil([routerLink]="'../' + hotel.id + '/edit'")
                  i.fa.fa-trash((click)="openDeleteModal(hotel)")
