@import '../../../../styles/_variables';

.form-group {
  margin-bottom: 0;
  padding-right: 10px;

  .control-label {
    max-width: 265px;
    padding-right: 10px;
    padding-left: 43px;
  }
}

th {
  .fa {
    margin-left: 5px;
  }

  &.sortable span {
    cursor: pointer;
  }
}

td {
  &.text-primary {
    color: $navy;
  }
  .fa {
    font-size: 18px;
  }

  &.text-right {
    .fa {
      cursor: pointer;
      margin-left: 10px;
    }
  }
}

my-date-picker {
  display: block;
  vertical-align: middle;
  //width: 10%;

  /deep/ .mydp {
    width: 100% !important;
  }
}

.btn-circle.btn-sm {
  width: 20px;
  height: 20px;
  padding: 2px;
  font-size: 10px;
}

.start-date {
  margin-left: 40px;
}

.hotel-star {
  color: orange;
}
