h2 {
  .fa {
    cursor: pointer;
    margin-left: 10px;
  }
}

.text-primary {
  color: #1ab394;
}

h3 {
  display: inline-block;

  .fa {
    margin-left: 10px;
  }
}

h4 span {
  margin-left: 10px;
}

.row-margin .row {
  margin-bottom: 15px;
}
