/deep/ * {
  background-color: transparent !important;
  //height: auto !important;
  margin: 0 !important;
  padding: 0 !important;
}

@media print {
  /deep/ canvas {
    max-width: 100% !important;
    max-height: 100% !important;
    page-break-after: always !important;
    page-break-inside: avoid !important;
  }
}
