//-
   Created by ekemate on 2017. 02. 17..

div.wrapper.wrapper-content
  div.row
    div.col-lg-12
      div.text-center.m-t-lg
        h1 Állattenyésztési Teljesítményvizsgáló Kft.
        small Laborirányítási rendszer
