div.wrapper.wrapper-content.ecommerce
  div.ibox-content
    div.row.vertical-align
      div.col-xs-10
        h2
          strong {{ reservation.id }}.foglalás
          i([routerLink]="'edit'").fa.fa-pencil
          i.fa.fa-trash((click)="openDeleteModal()")
    hr
    div.row
      div.col-xs-4
        h3 Férőhelyek száma:
        div {{ reservation.numberOfPeople }}
      div.col-xs-4
        h3 Kezdő dátum:
        div {{ reservation.FormattedCheckIn }}
      div.col-xs-4
        h3 Végső dátum:
        div {{ reservation.FormattedCheckOut }}
